USE [master]
GO
/****** Object:  Database [Assessment]    Script Date: 02/12/2023 11:23:34 PM ******/
CREATE DATABASE [Assessment] ON  PRIMARY 
( NAME = N'Assessment', FILENAME = N'E:\Data\Assessment.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Assessment_log', FILENAME = N'E:\Data\Assessment_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Assessment].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Assessment]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 02/12/2023 11:23:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Position] [nvarchar](50) NOT NULL,
	[Insertdate] [date] NOT NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Employee] ADD  CONSTRAINT [DF_Employee_Name]  DEFAULT ('') FOR [Name]
GO
ALTER TABLE [dbo].[Employee] ADD  CONSTRAINT [DF_Employee_Email]  DEFAULT ('') FOR [Email]
GO
ALTER TABLE [dbo].[Employee] ADD  CONSTRAINT [DF_Employee_Position]  DEFAULT ('') FOR [Position]
GO
ALTER TABLE [dbo].[Employee] ADD  CONSTRAINT [DF_Employee_Insertdate]  DEFAULT (getdate()) FOR [Insertdate]
GO
USE [master]
GO
